:root {
  --color-primary: #e3e6ec;
  --color-secondary: #1e293b;
  --radius: 1rem;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  background: rgb(42, 101, 42);
  color: var(--color-secondary);
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  line-height: 1.4;
}

.navigation-menu {
  padding: 10px 0;
}

.navigation-menu-ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navigation-menu-ul-li {
  margin: 0 10px;
}

.navigation-menu-ul-li a {
  color: rgb(174, 174, 245);
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(0.7rem, 1vw, 1rem);
}

.navigation-menu-ul-li a:hover {
  color: rgb(246, 246, 147);
  transition: 0.5s ease-in-out;
}

h1,
h3 {
  font-size: clamp(1rem, 2vw, 2rem);
  color: var(--color-primary);
  text-align: center;
  margin: 5px 0;
}

h3 {
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  margin: 5px 0;
}

.container {
  max-width: 1000px;
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem auto;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .container {
    padding: 0.75rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0.5rem;
  }

  h1,
  h3 {
    font-size: 1rem;
  }

  .navigation-menu-ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.container:hover {
  transform: scale(1.01);
}

svg {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

#tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  color: var(--color-primary);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
